[2021-03-07 19:42] vtereshkov opened #4 "Error using pass-by-value semantics?"
https://github.com/marekmaskarinec/tophat/blob/7741a5aec5a932dad2b4a845765c3db72f024152/src/bindings.c#L48

If you would like to pass by value a structure that is larger than the Umka stack slot size (8 bytes), you have to calculate the actual number of slots occupied by the structure and update the slot indices accordingly. For example, if you have an Umka function signature
[code]
and the struct

[2021-03-08 07:35] marekmaskarinec commented on #4
Wouldn't  it be easier to pass a pointer, since that would negate all the size problems.

I also want to thank for all the help you are with this.

[2021-03-08 08:32] #4 closed

[2021-03-13 22:00] vtereshkov opened #6 "Packaging Tophat as an Umka extension"
Did you consider packaging Tophat as an Umka Module Implementation (UMI) library? An UMI file is a conventional precompiled C/C++ shared library that has the `.umi` extension. When the Umka interpreter encounters a function prototype that has no implementation in Umka, it automatically searches for the UMI library in the same directory. If the library is found, Umka links it dynamically and looks

[2021-03-13 22:08] marekmaskarinec commented on #6
I don't think, that would be beneficial, since the user would need to install the umka interpreter. There is also stuff like input, that could not work. I'm happy with the solution I have rn. Until I implement some way to embedd assets, I plan on keeping it.

[2021-03-13 22:09] vtereshkov commented on #6
Okay, I understand.

[2021-03-13 22:09] #6 closed

[2021-03-18 00:24] vtereshkov opened #7 "Error in fetching Umka stack arguments"
The `size` argument is passed as a `real32`:
[code]
but fetched as a `real`:
[code]
Consider changing the formal argument type to `real`.

[2021-03-18 08:33] marekmaskarinec commented on #7
fixed

[2021-03-18 08:34] #7 closed

[2021-04-07 11:53] vtereshkov opened #9 "Build failed"
[code]

[2021-04-07 12:05] marekmaskarinec commented on #9
Try running this: `git submodule update --recursive --remote`

[2021-04-07 12:25] vtereshkov commented on #9
Thank you. It works. By the way, do you update `lib/windows/libumka_static.a` automatically? It seems to be outdated and not identical to what can be built from `lib/umka`.

[2021-04-07 12:25] #9 closed

[2021-04-07 12:27] marekmaskarinec commented on #9
No. I don't update it. How do I build it on linux?

[2021-04-07 12:33] vtereshkov commented on #9
OK. So I do the right thing when I manually copy `libumka_static.a` from `lib/umka/umka_windows_mingw` to `lib/windows`.

[2021-04-07 12:39] marekmaskarinec commented on #9
I think yes.

[2021-04-07 13:18] ProkopRandacek commented on #9
btw @marekmaskarinec this can be solved automatically in makefile by checking if the submodule's files exists and if not you can run `git submodule update --init --recursive`.

https://github.com/ProkopRandacek/r8/blob/7d9c4a34c262fc1ed8e011065f30ad0d7d46cb49/Makefile#L79

[2021-04-07 13:22] marekmaskarinec commented on #9
That's only one part of the issue. The issue here was, he had an old version of the submodule.

[2021-04-07 14:19] vtereshkov opened #10 "Ways of running and packaging games"
I have to run the game by invoking the shell and typing `tophat debug`. I would like to run it by just clicking `tophat.exe` in the folder. But when I do it, it prints `Could not initialize umka` and does not run anything.

[2021-04-07 15:38] marekmaskarinec commented on #10
Yes that is intended, although it probably isn't the best solution. Currently is searches for `tophat.dat/game.um`, if you don't specify the `debug` flag. On linux, you can use `tophat run`, but a gui tool is still being worked on. I will make it, so it searches for `game.um` in current directory and if it isn't there, it will look into `tophat.dat`.

[2021-04-07 15:55] marekmaskarinec commented on #10
Fixed in https://github.com/marekmaskarinec/tophat/commit/27c61fb66ebf996ca261fd073708e07cce4d8e29

[2021-04-08 18:55] vtereshkov opened #11 "Advertising on Reddit?"

[2021-04-08 19:01] marekmaskarinec commented on #11
I will definitely do some advertising, but I will start with it, when I release v0.1. Although the engine is functional, I'm still not satisfied enough with it.

[2021-04-08 19:01] #11 closed

[2021-04-11 12:37] marekmaskarinec commented on #10
I added a gui tool in https://github.com/marekmaskarinec/tophat/commit/c8f4a93a7fc801266ac6b4374cb15fb5343b45a0

[2021-04-11 21:37] vtereshkov commented on #10
Don't understand how to use it. Is it for packaging games with tophat? What "workspace" should I open?

By the way, sometimes it hangs.

![image](https://user-images.githubusercontent.com/52492460/114322118-2ca56a00-9b27-11eb-9514-2ec0c80b18de.png)

[2021-04-12 06:24] marekmaskarinec commented on #10
You need to install tophat using `install.bat` in the `win-package.zip` file. The you will open a new directory, use init and you will get a working hello world example. It mainly serves, so you don't have to copy files around like the exe. Soon, I will be fixing the packaging and add an option similar to cli tool's `libs` option.

I have no idea at all, why it is doing that. It doesn't panic or a

[2021-04-15 19:52] vtereshkov commented on #10
Release 0.1 is not working under Windows because `install.bat` copies two `.um` files to the _current_ folder, while `tophat-gui.exe` is expecting to find them in the user profile folder. So on clicking `init` I get this error:

![image](https://user-images.githubusercontent.com/52492460/114929948-207a1f00-9e3d-11eb-809a-f85793fdaced.png)

[2021-04-15 19:55] marekmaskarinec commented on #10
Interesting. Is the

[2021-04-15 19:58] marekmaskarinec commented on #10
What if you replace the variable with `%HOMEPATH%?

[2021-04-15 20:26] vtereshkov commented on #10
The only way to have the `*.um` files in that folder is to use the following script:
[code]
So I have
[code]
But that's not enough. I get another error:

![image](https://user-images.githubusercontent.com/52492460/114933684-9f715680-9e41-11eb-8aa2-2b74425196f5.png)

Is the problem with the `*` placeholders in names?

[2021-04-15 20:46] vtereshkov commented on #10
By the way, on Linux I also get an error:
[code]
I suppose I have to manually update the C standard library.

[2021-04-15 20:55] marekmaskarinec commented on #10
Now this is interesting. I think, I got this same error with other program today (I have 2.33).

As for the window issue, I probably need to copy the two files separately. I will look into it tomorrow.

[2021-04-15 20:56] vtereshkov commented on #10
And yes, the Windows GUI tool still hangs sometimes.

[2021-04-15 20:58] marekmaskarinec commented on #10
Hmm. I have no idea why. I will probably rewrite it to use either fyne, or in umka.

[2021-04-15 22:37] marekmaskarinec commented on #10
Another way is to just distribute the exe. Now it's actually a possible solution, since you don't have to deal with the libraries. The whole windows thing is hard for me, since I don't have easy access to a windows machine.

[2021-04-15 22:49] vtereshkov commented on #10
I like this approach very much! Now the installation and deployment seems to be harder than writing games.

[2021-04-15 22:55] marekmaskarinec commented on #10
The exe is still there. When you download it, it should be located: `tophat-win/tophat/bin/tophat-win.exe`.

[2021-04-15 23:14] vtereshkov commented on #10
Cool! But I cannot see what makes my HPs decrease. And - again - the game crashes on exit.

[2021-04-15 23:17] marekmaskarinec commented on #10
Your hp is lowered, when enemy ships decrease bellow the screen.

When does the crash happen and what does it do?

[2021-04-15 23:23] vtereshkov commented on #10
It crashes when I close the window with the cross. When I click `Quit`, it exits normally.
The other problem is that when I click `To menu`, the `Quit` button also receives this event and causes the game to exit.

[2021-04-15 23:37] marekmaskarinec commented on #10
This is a known issue and frankly, I have no idea, how to solve it. Rawdraw is using `atexit` for the `HandleDestroy` function, so I don't have a way for umka to exit.

This seems to be a crash in `audio.c`. What is even happening there? It somehow deletes the sound array (keeping the sound count). I don't know, why that happens, but today I made a small change to audio.um, so that might be it. I

[2021-04-16 08:46] vtereshkov commented on #10
It seemed to me you solved it in RAIDER.

By the way, `tophat-gui.exe` has just been removed by my antivirus.

[2021-04-16 09:52] marekmaskarinec commented on #10
In the last commit, I've done some fixes to audio. It _shouldn't_ crash now.

I checked it for viruses, and there aren't any. I'm not sure, why that is happening, but I think, I'm gonna have to rethink the way of interacting with the engine on windows entirely.

[2021-04-16 11:27] vtereshkov commented on #10
Cannot run `make` to rebuild it: `embedder` is not found.

Of course there aren't. But you know, modern antiviruses have AI-based heuristics to detect viruses that have never been seen before. This causes an enormous amount of false positives. I have had a lot of such problems with my previous (native x86) compiler project.

Unfortunately, there is no solution. A demotivating discussion with the d

[2021-04-16 11:48] marekmaskarinec commented on #10
Soryy. The embedder still isn't included in the repo. You can edit the makefile, so it doesn't run it and doesn't compil with `RELEASE_BUILD`. Then you will have to copy the libraties though.

[2021-04-16 12:05] vtereshkov commented on #10
Do you have an up-to-date `umkalibs.h`?

[2021-04-16 12:38] marekmaskarinec commented on #10
Here
[umkalibs.zip](https://github.com/marekmaskarinec/tophat/files/6325084/umkalibs.zip)

[2021-04-16 13:18] vtereshkov commented on #10
Looks like you are trying to free `respath` that has been allocated on the stack rather than in the heap:
[code]
Moreover, you don't check if `destroyfunc == -1`.

[2021-04-16 18:30] marekmaskarinec commented on #10
I tried fixing that. I also added the embedder, so you can build it on your own.

For windows support, I got an idea. You would download a zip file, containing the two preset scripts and tophat exe. You would extract that somewhere, every time, you want to make a game. I'm just scared, people wouldn't package for linux, since it would be tedious process. Maybe adding a package program, you just ru

[2021-04-16 18:58] vtereshkov commented on #10
Now I'm reinstalling Go to compile your `embedder`, since it is incompatible with Go 1.13.

I think the easiest way to make a game with tophat is just to copy `tophat.exe` into the folder that contains the game modules. This approach is simple and reliable. All "build systems" that depend on additional tools, user profiles, workspaces are too difficult to comprehend and error-prone. Yes, I still d

[2021-04-16 19:04] marekmaskarinec commented on #10
Do you want to send the binary?

You don't need that anymore, since all modules are embedded.

That is a good point. I will just do the zip file, you can extract for easy start.

[2021-04-16 19:31] vtereshkov commented on #10
Yes, I do. Neither `Makefile` nor `embedder` itself work properly under Windows:
[code]
When I manually copy `embedder.exe` to the tophat root folder, it produces a broken file:
[code]

I mean the modules that contain the game itself, not tophat modules or Umka standard library.

[2021-04-16 19:48] vtereshkov commented on #10
But yes, when I copy the prepared `umkalibs.h` and remove `embedder` lines from `Makefile`, I get `tophat` that exits normally.

[2021-04-16 19:49] marekmaskarinec commented on #10
[embedder.zip](https://github.com/marekmaskarinec/tophat/files/6327564/embedder.zip)

I updated the makefile to list all needed files. I still don't know, how to do platform specific code in makefile, so please add `.exe` on line 73. The embedder binary should be in `cmd/embedder`.

[2021-04-16 20:07] vtereshkov commented on #10
No success:
[code]
I can run `embedder` manually with the same command line args, but the file it produces is still incorrect, since it doesn't distinguish between C-syntax lines without quotes and Umka-syntax lines in quotes.

[2021-04-16 20:36] marekmaskarinec commented on #10
I'm not sure, if I understand. What exactly is the problem. Also try deleting that line with the if completely.

[2021-04-16 22:17] vtereshkov commented on #10
At last I know how to do it correctly on Windows:
[code]

[2021-04-17 08:47] marekmaskarinec commented on #10
Interesting. That seems like a problem between linux and windows. I'm not sure, how I can implement your solution. On linux, it will take the `#` as a comment, since it isn't inside `"`. I will try doing some platform specific stuff in the Makefile.

Btw, I think, the first line needs to use `>` not `>>`, since you want to clear the file every time you make it.

[2021-04-17 09:19] vtereshkov commented on #10
Yes, you're probably right. But all other things like quotes or backslashes are important. As for carriage returns, I don't know how to echo them in one line on Windows (maybe it's somehow possible).

[2021-04-17 09:25] marekmaskarinec commented on #10
The current embedder replaces backslashes with double backslashes, if that's, what you mean.

[2021-04-17 09:38] vtereshkov commented on #10
I mean using backslashes instead of slashes in paths.

[2021-04-17 21:12] vtereshkov commented on #10
While the packaging problem on Windows is unresolved, I think it may be a good trade-off to embed all the tophat modules into the release binary but keep all game modules as separate files. I use this configuration for running your space shooter and it's really convenient, except for hiding the game source from the competitors' eyes :) I just put a single binary into a folder with the game modules

[2021-04-17 23:26] marekmaskarinec commented on #10
Yes. That is currently the way to do it. I still want to make an option to build it and embed the files. Not as much to hide the source code, but so the binary is free standing and could eventually be used on platforms without access to the fs (web).

As for windows support, I think I have an idea that might work. A simple zip file with both linux binaries and two (maybe more) batch scripts. You w

[2021-04-18 08:54] marekmaskarinec commented on #10
Done in the last commit. I currently don't have access to a windows machine. Could you test it?

[2021-04-18 09:41] vtereshkov commented on #10
Should I run `make windows`? Or `make package`? Or just unpack `tophat-win.zip`?

[2021-04-18 09:52] marekmaskarinec commented on #10
You can either run `make win-package`, but the embedding on windows still isn't fixed, or just extract bin/tophat-win.zip

[2021-04-18 10:05] vtereshkov commented on #10
Unsuccessful. `init.bat` creates a file, not a folder. `package.bat` creates two folders, `-windows` and `linux`, without any name prefixes.

![image](https://user-images.githubusercontent.com/52492460/115141715-838ad200-a046-11eb-8b08-52e4470f6324.png)

[2021-04-18 10:23] vtereshkov commented on #10
That's what I have done to make it work:
`init.bat`
[code]
`package.bat`
[code]
Now I can run your `Hello World`.

[2021-04-18 10:41] vtereshkov commented on #10
Perhaps it's better to rename the packaged binaries. So I've added
[code]
and
[code]

[2021-04-18 10:44] vtereshkov commented on #10
By the way, the space shooter now crashes on startup.

[2021-04-18 11:08] marekmaskarinec commented on #10
Thanks for the help.

I will make a new issue for the crash.

[2021-04-18 11:08] #10 closed

[2021-04-18 11:08] marekmaskarinec opened #12 "Space shooter example crashes on startup"
https://github.com/marekmaskarinec/tophat/issues/10#issuecomment-821971293

[2021-04-18 11:11] marekmaskarinec commented on #12
It runs perfectly fine for me. Does it have some kind of output? I added a new umka library, so make sure, you don't have old version of umkalibs.h.

[2021-04-18 11:32] vtereshkov commented on #12
This is actually not a new problem. It's again about packaging. `copy` doesn't copy folders recursively. I have to use `xcopy` instead:
[code]
Now the space shooter seems to be working.

[2021-04-18 11:48] marekmaskarinec commented on #12
Fixed. Btw, you can run games without packaging them using `run.bat` in the game directory.

[2021-04-18 11:48] #12 closed

[2021-04-18 11:56] vtereshkov commented on #12
Looks like you fixed it in `cmd`, but not in the archives.

[2021-04-18 11:58] marekmaskarinec commented on #12
It is fixed in the archive.

[2021-04-18 12:00] vtereshkov commented on #12
Also the `/s` and `/e` keys are missing in `xcopy`. So it doesn't work.

[2021-04-18 12:07] marekmaskarinec commented on #12
Sorry, I will fix it later today. Windows is hard.

[2021-04-18 13:09] marekmaskarinec commented on #12
Try it now.

[2021-04-18 17:18] vtereshkov commented on #12
OK

[2021-04-19 10:40] vtereshkov opened #13 "'To menu' is not working"
Clicking the 'To menu` button in the space shooter examples immediately exits the program. I think this is because 'To menu' and 'Quit' both receive the same event.

A 'professional' solution would be, for example, to construct an event queue independently of any event handlers. An event is propagated though a hierarchy of UI controls (and handlers) until one of the handlers returns `true`, which

[2021-04-19 11:56] marekmaskarinec commented on #13
Exactly, what is happening is, that the two buttons are located in the same place, so when you press the `to menu` button, the scene changes faster, than you release the button. An easy (although hacky) fix for this would be initializing buttons with pressed value true. Then justpressed won't be true, since pressed was already true. I will probably implement a release event though, but now I'm wor

[2021-04-19 14:57] marekmaskarinec commented on #13
Another solution is to add resetinput function, that would memset the `pressed` and `justpressed` arrays to 0. User would have to run that himself though, since I refuse to do engine handled scene switching.

[2021-04-23 16:04] marekmaskarinec commented on #13
Fixed in e3cac81

[2021-04-23 16:18] #13 closed

[2021-04-30 20:26] vtereshkov opened #14 "Tophat screenshot for Projects section"
Could you please upload a good screenshot or another promotional picture (preferably 640 x 480 PNG) for the Projects section of the Umka page on GitHub?

[2021-04-30 20:55] marekmaskarinec commented on #14
Yes. I can make some screenshots for you. What exactly do you mean by "Projects section of the Umka page on GitHub"? Is it still being worked on, or am I just blind?

[2021-04-30 21:07] marekmaskarinec commented on #14
Ok. Now I see. I will make some screenshots tomorrow.

[2021-05-01 08:57] marekmaskarinec commented on #14
Here you go, although you already have better one.

![2021-05-01-103003_694x1011_scrot](https://user-images.githubusercontent.com/42782325/116776966-e713f700-aa6b-11eb-85db-b956efc2eb37.png)

[2021-05-01 10:03] vtereshkov commented on #14
OK, I think I'll keep using what I already have.

[2021-05-01 10:03] #14 closed

[2021-05-08 09:09] marekmaskarinec opened #15 "Compiling for windows"
There are problems with linking opengl probably.

[2021-05-09 11:28] marekmaskarinec commented on #15
Thanks for pointing out. Fixed in last commit.

Good idea. Now user isn't required to have umka installed.

Lights are still very experimental and I don't know, if I will even include them (they actually aren't lights at all).

[2021-05-09 12:21] marekmaskarinec commented on #15
Fixed.

[2021-05-09 12:21] #15 closed

[2021-05-09 22:29] vtereshkov commented on #15
Building under Linux is almost OK, except that I cannot run `make package` because I don't have a Windows cross-compiler.

Building under Windows is still a big problem for a number of reasons:
* The `echo` command syntax is different
* `curl` is not a standard Windows utility

The pre-built Windows package works well, except that it always prints warnings like
[code]

[2021-05-09 22:45] marekmaskarinec commented on #15
I will check if user has mingw installed and put a warning, but packaging without window binaries shouldn't be done.

•  curl is not a standard Windows utility

Is the problem with echo the `\n`? If yes, I can easily fix that. As for curl, that might be a bit of a problem.

I noticed this too, but it was only one function. This looks like a driver issue to me, but I'm not sure. I will look into it

[2021-05-09 22:50] vtereshkov commented on #15
Not only `\n`, but also quotes `" "`. Windows `echo` does not like them.

[2021-05-11 10:23] vtereshkov opened #16 "Adding RAIDER to tophat examples"
RAIDER seems to have a more interesting gameplay than the space shooter. Will you consider updating RAIDER to the latest version of tophat (with newer features such as UI controls) and adding it to your standard set of examples? I think it's a good idea to have a "reference game" implemented with tophat -- a game interesting both for playing and demonstrating tophat features.

[2021-05-11 11:45] marekmaskarinec commented on #16
I don't think, raider should be used as an example. Is is a better game than space shooter? Absolutely, but it's codebase is too big and not clean to be used as an example. When I was making raider, I was still figuring out, how to structure games properly (that's why there was the circular imports issue). I think, I will add a link to the readme, but it shouldn't be a separate example.

[2021-05-11 11:45] #16 closed

[2021-05-11 14:08] youssefsahli opened #17 "Properly exiting on window close"
How to trigger it: run, in the examples directory, the level editor: tophat run
close the window, and check the output:
` X connection to :0 broken (explicit kill or server shutdown).
Warning: Memory leak at 0x7f9d64cf2010 (6 refs)
Warning: Memory leak at 0x561a03d02410 (17 refs)
Warning: Memory leak at 0x561a03e022a0 (1 refs)
X connection to :0 broken (explicit kill or server shutdown).

Version:

[2021-05-30 12:16] vtereshkov opened #18 "Graphics problems in smario?"
The game looks like this. Is it OK?

![image](https://user-images.githubusercontent.com/52492460/120103773-f44eff00-c159-11eb-8c30-a0543d448525.png)

[2021-05-30 12:22] marekmaskarinec commented on #18
It is still work in progress, but apart from the space between goombas and the tilemap, there are no tophat bugs.

[2021-05-30 12:22] #18 closed

[2021-06-16 00:24] vtereshkov commented on #17
@marekmaskarinec I carried out an almost successful experiment, though it was Windows-specific. I rewrote `CNFGTearDown()` in the following manner:
[code]
Then I added a function to check the `killed` flag from Umka:
[code]
and added the exit condition to the main game loop:
[code]
Now I have an almost correct exit procedure except for some problems with `th_audio_deinit()`.

[2021-06-16 19:23] charleslvalve commented on #17
Could you instead use `HandleDestroy()`? which should be called back on a destroy event?

[2021-06-16 19:24] cnlohr commented on #17
Could you instead use HandleDestroy()? which should be called back on a destroy event?

[2021-06-16 19:38] vtereshkov commented on #17
@cnlohr The main problem is with `exit(0)` called from `CNFGTearDown()`. This call means that the `main()` function in `main.um` (executed from `umkaRun(umka)`) does not terminate correctly and does not run garbage collection for Umka's global objects.

[2021-06-16 19:42] marekmaskarinec commented on #17
I already tried this, but (at least on with X driver), it doesn't have time to finish the loop before `HandleDestroy` is called and the program exits.

[2021-06-16 20:42] cnlohr commented on #17
It sounds like Ilya's suggestion in-channel, to make `CNFGHandleInput()` return false upon close request is the direction we're headed right now. I don't know how well that will work on all platforms but we can see.

[2021-08-11 19:10] marekmaskarinec opened #19 "lights: Proper color blending"
Lights don't blend correctly.
![Peek 2021-08-11 20-47](https://user-images.githubusercontent.com/42782325/129088566-e0cc94ed-9779-4f67-ab98-e563b75e3b26.gif)

This should be solved using a color blending function, that takes into consideration alpha of both color. The closer alpha is to alpha of lightmasks color, the less influence it has.

[2021-08-12 10:49] iotasieve commented on #19
blending of lights is usually solved via addition, try adding colors, you'll see metaball-ish behavior you need

[2021-09-07 20:14] vtereshkov opened #22 "Projectiles bug in Space shooter"
I have tried to build the latest `tophat`, rename it to `space-shooter`, copy it manually to the `examples/space-shooter` folder, rename `umka` to `tophat` and copy it to the same folder, then run `./space-shooter run`.

The game starts normally, but projectiles are either not shown at all, or look like yellow strips. When I press the fire button, the enemy ships in all columns are destroyed simul

[2021-09-07 21:49] marekmaskarinec commented on #22
This should be fixed now. It was a really stupid bug.

By the way, you don't need to add the `run` flag. The tophat binary itself searches for `main.um`, `tophat.dat/main.um`. The cli wrapper on the other hand requires it. You also shouldn't need to copy the libraries as they are supposed to be embedded. This was however broken in the makefile pr, but I fixed it while fixing this bug.

[2021-09-07 21:49] #22 closed

[2021-09-25 12:55] vtereshkov opened #24 "UI controls aligned improperly"
![image](https://user-images.githubusercontent.com/52492460/134772367-8820c8a3-a93d-4332-8b3b-cc93ff367a23.png)

[2021-09-25 12:57] vtereshkov opened #25 "Cross-compiling for Windows fails: undefined reference to `glActiveTexture'"
[code]

[2021-10-04 12:49] marekmaskarinec opened #26 "Emitter deletes itself instantly"
https://github.com/marekmaskarinec/tophat/commit/6e2a73e3cbce3571abcbf7d0c1c28982222621a7#r57447149

[2021-10-04 12:50] marekmaskarinec commented on #24
Should be fixed in 2fac45ee44029e9bc90e174d82c90dd57d536eae.

[2021-10-04 12:50] #24 closed

[2021-10-04 12:52] marekmaskarinec commented on #25
Tried fixing this in 2fac45ee44029e9bc90e174d82c90dd57d536eae. It compiles, but I'm not sure `glActiveTextureCHEW` will do the same thing.

[2021-10-04 13:42] vtereshkov commented on #25
Confirm it compiles. Let's close the issue unless we have any new facts.

[2021-10-04 13:42] #25 closed

[2021-10-04 14:05] vtereshkov commented on #26
@marekmaskarinec I see this effect on both Windows and Linux. Indeed, if `th.time` when calling `draw()` is still less than `th.time + std.rand() % 200` for all particles when creating the emitter (which is quite possible, though not necessary), the emitter will be immediately removed. When I replace `th.time + std.rand() % 200` with `th.time + std.rand() % 200 - 200` (i. e., all particles have al

[2021-10-04 14:24] marekmaskarinec commented on #26
That seems to be a problem although it's weird it works perfectly for me. It should be easily fixable by moving `p->active = true;` above the condition in particle draw.

[2021-10-04 14:26] marekmaskarinec commented on #26
This seems to be the problem, although I find it weird that it doesn't happen on my pc. I know of an easy fix and I will push it later today.

[2021-10-05 12:24] vtereshkov opened #27 "Unpacked _th_particle causes a segmentation fault"
[code]

[2021-10-05 13:13] marekmaskarinec commented on #27
Fixed in the last commit.

[2021-10-05 13:13] #27 closed

[2021-10-05 13:14] marekmaskarinec commented on #26
I was able to recreate this after I set `_th_particle`'s alignment to 1. Fixed in the last commit.

[2021-10-05 13:14] #26 closed

[2021-10-05 14:06] vtereshkov opened #28 "Broken font"
Only for values 14 and 17:

![image](https://user-images.githubusercontent.com/52492460/136039336-353955be-bede-47b7-88c3-ca954c217f94.png)

[2021-10-05 14:47] vtereshkov opened #29 "Windows build is not working"
When running Space Shooter, I get the folloowing error message:
[code]

[2021-10-05 15:02] marekmaskarinec commented on #29
Is this the build from release? Turns out it is old. It works with the new one (in wine) and I updated the release.

[2021-10-05 16:15] vtereshkov commented on #29
@marekmaskarinec Yes, it's from `tophat-win.zip`. When I build it from source with `make cross`, everything is OK.

[2021-10-05 16:27] #29 closed

[2021-10-05 17:06] vtereshkov opened #30 "Any plans for a bigger game?"
@marekmaskarinec What are your future plans about tophat? You know, a game engine is just a tool that needs adequate applications. The space shooter is a good demo for engine capabilities, but its gameplay is too simplistic and, so to say, one-dimensional (I remember we discussed it earlier in the context of a hypothetical Raider 2.0).

I recently attended a small unofficial gamedev event (a "drin

[2021-10-05 18:22] marekmaskarinec commented on #30
I want to write a bigger game in tophat one day, but I still want to focus on tophat. There aren't many features I have in mind, but there are definitely bugs there for me to fix. If I ever get to it, I will either make something based on raider, or something about automatic rail transportation (something like rail systems in factorio, but whole game about them).

If you want to get started out, I

[2021-10-08 15:26] vtereshkov opened #31 "Crash on exit when accessing Umka-managed memory from C"
The `auarr` array is owned and managed by Umka, so it is dangerous to store a reference to it (i. e., `sounds`) in C, as the memory can be freed at any time without notifying the C code. Instead, its constents should be copied into a C array.

For example:
[code]

[2021-10-08 15:36] vtereshkov opened #32 "Crash on exit when calling die() twice"
It seems that sometimes `die()` is called twice - first from `main()`, then from `HandleDestroy()`. One needs a protection against this.

For example:
[code]

[2021-10-08 18:09] vtereshkov commented on #31
The problem is that you first return from `main()` in Umka (which means that all global variables are deallocated) and then try to deinitialize your sounds. Even though you still have the sounds themselves (since they have been allocated in C), they are no longer accessible, because the "table of contents", i. e. `auarr` or `sounds`, is lost.

[2021-10-08 18:22] marekmaskarinec commented on #31
Oh. This makes it much more clear. I thought global variables would be free'd on `umkaFree` call.

[2021-10-08 18:42] vtereshkov commented on #31
It's a subtle point. All heap-allocated variables in Umka are freed by the garbage collector, which is a part of the Umka virtual machine and cannot be run after the machine halts upon returning from `main()`. On the other hand, all "static" variables are freed by `umkaFree()`. If `umkaFree()` discovers any heap-allocated variables, it prints the `Memory leak` warning and deallocates them - this i

[2021-10-08 19:10] marekmaskarinec commented on #17
I made a pr implementing ShouldClose on windows a long time ago. The linux pr (not mine) still isn't merged because it does some other changes (probably a mistake). The author didn't fix them yet. I asked him about it on friday and he said he would fix it on this monday, but he hasn't. I'm considering making the fixed pr myself.

[2021-10-08 19:38] #31 closed, assigned to nobody

[2021-10-09 17:12] vtereshkov opened #33 "Limit rate of fire in space shooter?"
Now the most efficient strategy in the space shooter is the most stupid one: hold `A` or `D` and hit space bar as frequently as you can. To encourage using smarter strategies, we can limit the rate of fire. For example:
[code]

[2021-10-10 08:30] marekmaskarinec opened #34 "Storing images"
Fonts and sounds are now stored in c and easily free'd on exit without the user having to do that themselves. Now I just need to do the same for images. Problem is, it's not that easy. It isn't unreal to want to delete an image at runtime. Even space shooter does that. Here are some ways to solve this:

Keep the current solution:
- pros: no work needed, images can be deleted at runtime, fast
- con

[2021-10-10 08:32] marekmaskarinec commented on #33
I can implement this, although I think I should try making the space shooter more readable and small than fun to play and balanced.

[2021-10-10 08:47] #33 closed, assigned to nobody

[2021-10-10 10:07] marekmaskarinec commented on #17
Tophat now exits cleanly on window close.

[2021-10-10 10:07] #17 closed

[2021-10-10 11:44] vtereshkov commented on #32
@marekmaskarinec Still segfaulting for the same reason, i. e., no `exit(0)` in `HandleDestroy()`. The sequence of events is as follows:
* Returning from Umka `main()`
* Returning from C `main()`
* Calling `HandleDestroy()` (from another thread?)
* Returning from `HandleDestroy()`
* Segmentation fault

[2021-10-10 11:59] vtereshkov commented on #32
@marekmaskarinec On the other hand, it seems that rawdraw performs important actions _after_ calling `HandleDestroy()`. So we have to be careful.

[2021-10-10 12:31] vtereshkov commented on #32
@marekmaskarinec I have just discovered that my current problem is not with `die()` but with `XCloseDisplay( CNFGDisplay )`. This is where the segmentation fault occurs. So it's a question to the rawdraw author, I think.

[2021-10-10 15:44] marekmaskarinec commented on #32
`die` is now called only once - at the end of main.

[2021-10-10 15:44] #32 closed

[2021-10-30 18:57] vtereshkov opened #36 "Pseudo 3D in tophat?"
Some games are known for their 2D graphics with a "pseudo 3D" effect. To achieve this, one at least needs to have game field cells (and also terrain texture tiles) rotated 45 deg and shrinked vertically to simulate an isometric projection, though without a "true" perspective. Does tophat support this?

Here are two examples I remember from my childhood:
![image](https://user-images.githubuserconte

[2021-10-30 18:59] vtereshkov opened #37 "A* pathfinding"
To navigate in a maze, game characters may need to use some pathfinding algorithm like https://en.wikipedia.org/wiki/A*_search_algorithm.

[2021-10-30 19:17] marekmaskarinec commented on #36
I think there are two parts to this. One is having properly oriented tiles and other is actually rendering them. Rendering them is possible using `image.Image.draw`.

Currently, tophat can't oriented the tiles. Solution would be to load the tiles already oriented. A way of adding this functionality is to add another image drawing function that takes a quad instead of a transform.

I don't think su

[2021-10-30 19:20] marekmaskarinec commented on #37
I want to add this one day, but for now it's low priority.

[2021-10-30 19:52] vtereshkov commented on #36
@marekmaskarinec Yes, I understand.

[2021-10-30 19:52] #36 closed

[2021-11-19 23:44] vtereshkov opened #38 "Overflow of int32 in space shooter"
When a bullet hits an enemy ship, I get
[code]

[2021-11-20 12:25] marekmaskarinec commented on #38
It seems that `std.clock()` always starts at about 2^30 seconds. Fixed by removing the offset.

[2021-11-20 12:25] #38 closed

[2021-12-22 12:29] vtereshkov opened #39 "Using ptrVal as an alias for intVal is no longer allowed in Umka"
As Umka now defines `ptrVal` as `void *` instead of `int64_t`, it reveals several bugs (or at least typos) in tophat:

https://github.com/marekmaskarinec/tophat/blob/5931dc958b7a794ab31bbdbe174cb94ac340248e/src/bindings.c#L270
https://github.com/marekmaskarinec/tophat/blob/5931dc958b7a794ab31bbdbe174cb94ac340248e/src/bindings.c#L623

[2021-12-25 11:03] marekmaskarinec commented on #39
Should be fixed.

[2021-12-25 11:03] #39 closed

[2021-12-29 11:53] vtereshkov opened #40 "Tophat fails to display particles"
No particles are displayed in the space shooter example with the recent version of tophat, while the Nov 26 version (with the fixes for #39 applied manually) works well.

[2021-12-29 11:56] marekmaskarinec commented on #40
Displays the particles for me.

[2021-12-29 18:47] vtereshkov commented on #40
@marekmaskarinec Umka is now using naturally aligned structures. This allows me to run Umka on SPARC and other machines that are intolerant to misaligned addressing (see also https://github.com/vtereshkov/umka-lang/issues/19#issuecomment-997221260). So you have to remove `#pragma push(pack, 1)` and `#pragma pop(pack)`.

[2021-12-30 10:14] marekmaskarinec commented on #40
Should be fixed.

[2021-12-30 10:38] vtereshkov commented on #40
Now working.

[2021-12-30 10:38] #40 closed

[2022-01-16 00:05] vtereshkov opened #41 "Embedding not working in Makefile"
When I remove `staembed.c`, run `make deepclean` and `make all`, I get the error `/lib/umka/build/umka: not found`. Then I run `make umka`, `make all` and get a linker error because `staembed.c` is empty. It seems that the `$(EM_TARGET)` task is not run at all.

If I keep `staembed.c` as is, `make all` completes successfully.

[2022-01-16 17:04] marekmaskarinec commented on #41
I fixed the embed rule being run before umka is built, so now tophat should build from scratch. `staembed.c` is supposed to be kept.

It only runs if `$(EM_TARGET)` doesn't exist or any of the umka modules have changed.

[2022-01-16 17:04] #41 closed

[2022-01-21 20:33] #34 closed

[2022-01-23 20:26] vtereshkov opened #42 "UMI libraries not supported in Windows build: UMKA_EXT_LIBS undefined"
https://github.com/marekmaskarinec/tophat/blob/ad6da6d0a704d73a432bdbe5fbddca96ab960116/Makefile#L26

[2022-01-23 21:01] vtereshkov opened #43 "Invalid path prefix on Windows makes conv_path() fail"
On Windows, relative paths don't start with `./` and absolute paths don't start with `/`. The current logic in `conv_path()` constructs invalid paths like `./C:\Users`.

[2022-01-26 12:41] marekmaskarinec commented on #43
This should be fixed now. Instead of `./`, nothing is used. If you want to keep the path as is, you have to prepend it with `raw://`.

[2022-01-26 12:41] #43 closed

[2022-03-11 22:00] marekmaskarinec commented on #28
The font rendering function was replaced. This isn't an issue anymore.

[2022-03-11 22:01] #42 closed

[2022-03-11 22:06] marekmaskarinec commented on #37
I think it would be better if the A* was able to take any kind of graph as an input - not only operate on tilemaps. Tilemaps would obviously have a functions for generating said graph.

[2022-05-03 15:39] skejeton commented on #30
I'm currently making a project in tophat, I do not guarantee I'll release it ever. However I'm working on it for a few months in free time, I'll probably make it into an intermediate 30 minute long game and then after having a taste, will probably spend a good year or two making ~7 free hour ish long game. It's gonna take a lot of time though, I don't usually dedicate more than an hour or two

[2022-05-04 23:33] vtereshkov commented on #30
@skejeton That's exciting! I will be looking forward to your beta, demo, preview or something.

@marekmaskarinec By the way, I'm actively using your railgame proto as a testbed for Umka. For example, it has helped me reveal and fix https://github.com/vtereshkov/umka-lang/issues/130, so I tend to think that garbage collection is a bottomless pit of bugs :-) However, it will be great to see a comple

[2022-05-06 17:22] skejeton commented on #30
@vtereshkov thanks. If want to view the source code to debug umka. HMU. Although I have checking tools and usually report problems as I find them.

[2022-05-12 13:37] vtereshkov commented on #30
@skejeton Please report any 'Dangling pointer' or 'Memory leak' warnings. In general, they are more dangerous than it may seem.

[2022-05-14 23:29] vtereshkov opened #46 "Register umprof submodule through HTTPS"
https://github.com/marekmaskarinec/tophat/blob/2efed0e3dabaf391de29d3094ef15a7b54d4323d/.gitmodules#L18

It makes sense to register the `umprof` submodule through HTTPS rather than SSH in order to not require SSH keys from users who just want to clone and try `tophat`.

[2022-05-15 10:56] #46 closed

[2022-05-16 16:06] vtereshkov opened #48 "Segmentation fault in space shooter"
The space shooter example segfaults when an enemy ship reaches the bottom of the screen.

[2022-05-16 16:08] skejeton commented on #48
Could it be related to this?
[code]

[2022-05-16 16:17] marekmaskarinec commented on #48
This seems to be a different segfault, but it's a miniaudio segfault too. I already tried debugging these and I have no ide why this is happening.

[2022-05-16 19:29] vtereshkov commented on #48
In 70% of cases, it occurs inside `glXSwapBuffers(th_dpy, th_win)` on my Ubuntu (WSL2) system.

It seems to never (?) occur if run as `sudo ./tophat`.

[2022-05-17 13:27] marekmaskarinec commented on #48
Never happens for me in that function.

[2022-05-22 23:12] vtereshkov opened #49 "Fix import paths for embedded modules"
After https://github.com/vtereshkov/umka-lang/issues/145 has been fixed, Umka now checks import paths for correctness.

Some modules are embedded in tophat without specifying any folder, but imported as if they are in `std/` or somewhere else (see examples below).

https://github.com/marekmaskarinec/tophat/blob/d3c84b4043e695ea94e11b65e2937aa92ad34dcf/umka/font.um#L5
https://github.com/marekmaskar

[2022-05-23 19:47] vtereshkov commented on #49
Now you can check the returned values of `umkaAddModule()` and `umkaAddFunc()` to see if this module or function has been added before.

[2022-05-24 10:33] skejeton commented on #30
Oh I've seen a bunch of these already, I dismissed all of them... I'll definitely will report them from now on

[2022-05-24 12:54] vtereshkov commented on #30
@skejeton Thanks. If it's difficult for you to reproduce the warnings in a smaller code sample, then I can try to debug Umka with your whole project.

What you can freely dismiss is the 'Memory leak' warnings after a reported runtime error. They are absolutely harmless.

[2022-05-30 13:55] skejeton opened #50 "Window size assigned to zero after setup"
[code]

[2022-06-07 18:31] vtereshkov commented on #30
@skejeton How is your project going? I think your feedback is important to understand how far we are from the 1.0 release of Umka.

[2022-06-14 11:12] #50 closed

[2022-06-14 11:21] marekmaskarinec opened #53 "Text rendering is an expensive task"
Text rendering is very expensive and makes tophat's CPU usage grow a lot. On my CPU, the space shooter takes around 8%, but tests/uit.um takes around 20%.

A possible cause is the use of codepoints instead of glyph indices.
https://github.com/nothings/stb/blob/af1a5bc352164740c1cc1354942b1c6b72eacb8a/stb_truetype.h#L241
I will try storing the glygh index in the font cache and see how that goes.

[2022-06-14 11:57] marekmaskarinec commented on #53
This didn't help at all.

The next culprit could be that I always try to cache the string when drawing, which means its decoded and every rune is hashed.

[2022-06-14 11:58] marekmaskarinec commented on #48
The miniaudio segfaults happen to me with -Os, but not -O3.

[2022-06-14 15:33] skejeton opened #54 "Errors in tophat modules report the module being alongside"
[code]
(simulated error)
The `scissorst.um` file imports erroneous `window.um`. This wouldn't be an issue if the core files don't have errors, but this could be an issue if they have runtime errors because of user input.

[2022-06-14 16:28] marekmaskarinec commented on #54
I'm not sure what exactly you mean by this. `scissorst.um` works fine for me. Are you sure this isn't a problem with your fork?

[2022-06-14 20:59] marekmaskarinec commented on #54
Or did you meant that it shows the `tests/` directory? If thats the problem, then I can't affect that. Make an umka issue instead.

[2022-06-17 02:59] muhammadharoon786 opened #56 "Tophat, Tophat-fusion"
How can I solve this error? I want to run the Tophat for the CIRIexporer2 related work. When I run Tophat, it does not work without running the Tophat module. So when I run both modules together, I face the below mentioned problem. Please suggest  me a solution. I am not expert in bioinformatics. Thanks!

$ module load Bowtie2 Tophat
Python/2.7.15(14):ERROR:150: Module 'Python/2.7.15' conflicts wi

[2022-06-17 06:01] marekmaskarinec commented on #56
are you talking about the correct tophat?

[2022-06-17 08:01] skejeton commented on #56
Yes indeed I think they got the wrong one..

@muhammadharoon786 You might want to refer to http://ccb.jhu.edu/software/tophat/ or
https://github.com/BenLangmead/bowtie2 instead.

This repository is for tophat game library, sorry for confusion.

[2022-06-17 08:06] muhammadharoon786 commented on #56
thanks all. I am sorry for poasting here. But If somebody knows the answer, please suggest. I am talking about the tophat which is used for the sequencing analysis of genomes.

[2022-06-17 08:13] skejeton commented on #56
No worries.

I don't know much about python and especially biotech, but it seems like your python versions are conflicting. Try running `module unload 'Python/3.6.5'` before running `module load Bowtie2 Tophat`. Good luck.

[2022-06-17 09:25] skejeton commented on #30
@vtereshkov Yes, so it's still going and there's some feedback I'd like to leave.

* Why can I return a module-private struct from a function and use it? This shouldn't be legal as I don't really have access to the struct symbol.
* Error messages about returns are reported on the next line.
* Inserting into dynamic arrays isn't that fast, the array is copied on every insert. This isn't a big deal

[2022-06-17 10:13] vtereshkov commented on #30
@skejeton Thank you for the great report! The truth comes out, earlier or later :-) I'll split the report into several Umka issues for better tracking.

[2022-06-17 16:15] marekmaskarinec opened #57 "incorrect attribute names in c"
The program starts normally and stays open, but only shows a white window. It also seems like this only happens on some machines. Older versions work.

[2022-06-17 17:30] marekmaskarinec commented on #57
This issue is caused by the new shader support. I think its because I use glsl function prototypes, which some gpu drivers might not support. It should however be possible to place the user data first.

[2022-06-17 20:47] vtereshkov commented on #57
@marekmaskarinec If you wish, I can test tophat on my Windows machine to collect debug logs or something.

[2022-06-18 11:22] marekmaskarinec commented on #57
The problem is there are no debug logs. The shaders don't work, but the driver doesn't report any logs. I tried using a recent glsl version and getting rid of the function prototypes (which I read some drivers don't support), but with no success.

[2022-06-19 09:06] #56 closed

[2022-06-19 09:06] marekmaskarinec commented on #54
I will update the umka submodule version after I sort out the shader issue.

[2022-06-19 09:34] vtereshkov commented on #54
In the latest version of Umka, the following rules apply:
* All modules use their regularized (or 'cleaned') absolute paths as the unique IDs
* When registering an embedded module, its absolute path is the current folder (i. e., the folder Umka is run from) plus the path specified as a part of the fake file name in `umkaAddModule()`
* When importing a real module, its absolute path is the current

[2022-06-19 13:25] marekmaskarinec commented on #57
I updated the names of attributes in the shaders to have a `th_` prefix, but didn't update them in the c source code. Strangely it worked on some drivers.

[2022-06-19 13:44] #57 closed

[2022-06-19 14:01] #49 closed

[2022-06-19 14:03] marekmaskarinec commented on #54
Can this be closed now?

[2022-06-19 14:04] marekmaskarinec commented on #48
@vtereshkov can you try it now that tophat is compiled with `-O3`?

[2022-06-19 14:07] #19 closed

[2022-06-19 14:07] vtereshkov commented on #54
@marekmaskarinec  Can you move it to `umka-lang`?
@skejeton Could you please share your idea of where the embedded modules should be?

[2022-06-19 14:44] vtereshkov commented on #48
@marekmaskarinec The behavior has not changed on my machine. Without `sudo`, a segmentation fault happens in 20 % runs. I even suspect that I once caught it under `sudo`, but I'm not sure since I could not reproduce it in several dozen runs.

I can investigate the problem further.
[code]

[2022-06-19 15:08] marekmaskarinec commented on #48
This seems to be a completely different problem than I was facing. Do you use pulseaudio or alsa? Does sound work in other programs? It seems like it can't connect to a sound device at all and maybe running as root solves that.

[2022-06-19 15:08] marekmaskarinec commented on #54
I can only move the issue to repos I own.

[2022-06-19 16:03] vtereshkov commented on #48
@marekmaskarinec I confirm the problem with the sound card on my WSL2, though I still don't know if it is somehow related to the segfaults.

I get
[code]
In view of this, it may be a WSL2 issue: https://github.com/microsoft/WSL/issues/7327

[2022-06-19 16:08] skejeton commented on #54
@vtereshkov i think it should be indicative that module is embedded, common practice is to prepend `@` before the module like this: `import ("@std/map.um")` or some alternate prefix: `import("#std/map.um")` or something that won't conflict with filenames `import ("embed://std/map.um") // BOO - tedious`. Otherwise I think it's fine as it is - lua got away with that, at least

[2022-06-19 16:09] skejeton commented on #48
For me the crash is at 49714th line of miniaudio
[code]
Looks like sample rate output is somehow zero

[2022-06-19 16:11] skejeton commented on #48
By the way, the issue seems to not exist anymore for some reason ¯\_(ツ)_/¯. @vtereshkov check if it still persists

[2022-06-19 16:16] vtereshkov commented on #48
@skejeton It persists for me.

[2022-06-19 16:18] skejeton opened #60 "Most of the tests and examples don't compile"
The API changes, and the example and test code doesn't compile. This happens a lot and it can be automated, either by running a script before commit that does a check (via new check option in #45), or by running some kind of CI.

[2022-06-19 16:29] #60 closed

[2022-06-19 16:37] marekmaskarinec commented on #48
This is just a theory, but after running tophat with `valgrind`, it seems like miniaudio doesn't like how I realloc the sounds.
[code]

I need to store an array of pointers to prevent this.

[2022-06-19 17:39] skejeton commented on #48
make sure you update miniaudio submodule

[2022-06-19 18:02] marekmaskarinec commented on #48
Done.

All but one error disappeared from the valgrind log and it didn't crash even after 265 kills.

[2022-06-19 20:51] vtereshkov commented on #48
Looks like 7990b573c026122b4c2f30fd075832f81e309d93 fixes this issue.

[2022-06-19 20:51] #48 closed

[2022-06-19 21:34] vtereshkov commented on #54
@skejeton I'm afraid prefixes such as `#` or `@` do not follow the principle of least astonishment. What should a new user expect from such a prefix? Of course, the C-like syntax of Umka is full of such non-intuitive punctuation, but, thanks to C, we have had enough time (50 years) to get familiar with it.

Anyway, this issue is not related to `tophat`. If you find it important, please reopen it i

[2022-06-20 06:06] marekmaskarinec commented on #54
Personally I don't see this as a problem and this is an umka issue anyways.

[2022-06-20 06:06] #54 closed

[2022-06-25 23:15] vtereshkov opened #61 "`map.um` is no longer supported"
https://github.com/marekmaskarinec/tophat/blob/fc9d5040135fc2248102fe5043c288efbb90f528/umka/signal.um#L5

Please remove the module source file and the corresponding `import` clauses.

(By the way, you can bump Umka again to get map literals working.)

[2022-06-26 05:49] #61 closed

[2022-06-29 16:53] skejeton commented on #53
first things first you can try to optimize it by putting images into an atlas instead of individual image. of course you need to identify the bottleneck first instead

[2022-06-29 19:46] skejeton opened #63 "Fixing "fat pixels""
When games are scaled on non integer intervals, what's called "fat pixels" occurs. It's when a certain row and column of pixels is bigger than other rows or columns.
![image](https://user-images.githubusercontent.com/27076041/176523397-739c3d2a-5c9e-452b-a38a-6ebdf84449dc.png)
You can see in this image that the row of pixels is slightly higher in height.
This is usually solved by different heurist

[2022-07-01 09:42] skejeton opened #64 "building staembed.c from scratch causes linker errors"
When you try to build staembed.c from scratch, without previous content, it will fail compilation due to th_em* symbols not defined

[2022-07-09 10:18] vtereshkov opened #66 "Tophat does not touch the ground in the platformer example"
![image](https://user-images.githubusercontent.com/52492460/178101513-07c24fc5-bcb6-4393-88f8-c989d5ebe431.png)

[2022-07-09 14:32] #66 closed

[2022-07-09 23:21] vtereshkov opened #67 "`th.delta` may sometimes be zero"
Problem occurs on Windows, but not on Linux.

![image](https://user-images.githubusercontent.com/52492460/178125552-6266de92-7218-4465-b714-f731180dc7ff.png)

[2022-07-10 00:00] vtereshkov commented on #67
A possible cause of this issue is a different behavior of `th.delta`:
On Linux:
[code]
On Windows:
[code]
It seems that the `th.delta`s are the same *on average*, but not instantly, due to the implementation of the system timer.

Having `th.delta == 0` is not very good for many reasons (for example, one may want a numeric derivative like `vel = (pos - prevPos) / th.delta`).

[2022-07-10 10:28] vtereshkov commented on #67
My "quick and dirty" solution is twofold:

- Add a delay in `window.cycle()`: `for round(std.clock()*1000 - start) <= 0 {/*Delay*/}`.
- Use larger steps in `player.move()`: `const steps = 10`.

[2022-07-10 13:57] marekmaskarinec commented on #67
I could try detecting when player is stuck, but that is not the issue here.

I will try adding vsync to tophat and enable it by default.

[2022-07-10 21:50] vtereshkov commented on #67
After some experimenting, I got this working on Windows. Not sure it's the best solution.

[player.um.txt](https://github.com/marekmaskarinec/tophat/files/9079951/player.um.txt)

(+ a delay for non-zero `th.delta`)

[2022-07-10 23:09] vtereshkov commented on #30
@skejeton Could you show us anything related to your game project (maybe a pre-alpha)? I don't even know the genre of your game, though I conclude from some of your comments that it should be something like Minecraft. Dealing with a quite big real-life project would be profitable for the development of both tophat and Umka.

[2022-07-12 13:51] skejeton commented on #30
@vtereshkov Hi! No it's certainly not Minecraft. It's a platforming game, I decided to keep it simple as I don't have much time. However I decided to also make it a learning material as an example project for tophat. So it aside from the actual game itself, it contains a level editor, ability to script by modifying the source code (which I kind of already made a framework of).
Here's some stuff:
(

[2022-07-12 20:29] vtereshkov commented on #30
@skejeton That's cool! Do you use any third party libraries for your UI?

[2022-07-13 09:07] skejeton commented on #30
@vtereshkov aside from tophat, no, but I think I'll try to use the UMI modules for it when i'll need it

[2022-07-21 13:57] skejeton opened #69 "Images should free upon GC"
best example is calling
[code]
repeatedly, it drains the RAM very quickly. This is important for there's no way to free an image. Ideally this shouldn't be manual as umka is a GC language.

[2022-07-21 16:51] marekmaskarinec commented on #69
Freeing images using GC would require a rework of how opaque structures are stored.

For your specific usecase, the new `Image.setData` method could be useful.

[2022-07-22 14:25] vtereshkov commented on #69
The main question is: who owns the image? If it's the host application, you cannot deallocate it with Umka's GC.

[2022-07-22 16:22] marekmaskarinec commented on #69
Tophat owns all opaque data. Allocating them in umka would be possible if it's necessarily needed.

[2022-07-25 19:18] skejeton commented on #69
How lua handles this approach is it gives out a custom malloc function. However there's also another approach it provides, notifying when the item is about to be collected. In lua it's implemented via metatable. In umka in my opinion, this could be done by allowing to implement `free` method function, or use an existing keyword for like `delete`. Roughly how this would look like:

[code]

[2022-07-30 06:44] skejeton opened #70 "Exposing tophat API in UMI modules"
As we know umka provides .umi modules to embed snippets of native code in umka, and it works great if you are using it for resource intensive tasks, however if you want to access the internals of umka or tophat you have to link them again, without any ABI guarantees. I think it's worth adding a way to build tophat as .so/.dll + launcher executable so umi modules can link to it too and access umka'

[2022-07-30 07:48] marekmaskarinec commented on #70
I wanted to do this for a long time. Shipping tophat as a dynamic library should work. We would need to share the `th_global` between all the tophats but that shouldn't be a problem.

[2022-07-30 07:50] marekmaskarinec commented on #53
I will try that since the profiler tells me most time is spent in `glDrawArrays`.

[2022-08-01 09:38] vtereshkov commented on #70
See also #6

[2022-08-01 14:02] skejeton opened #71 "input.isReleased"
for detecting if the keys were released or not, for now the workaround is to create a custom input state and check against it, but that's not very convenient

[2022-08-08 10:06] skejeton opened #72 "Crash when image not found"
[code]

the print statement is never executed if the image path wasn't correct, segmentation fault occurs.

[2022-08-08 10:15] marekmaskarinec commented on #72
Does it atleast print the error message?

[2022-08-08 10:27] skejeton commented on #72
Yes it does print that it failed to load

[2022-08-08 10:31] skejeton commented on #72
Here's a demonstration
https://user-images.githubusercontent.com/27076041/183398590-659aa088-057b-4889-926b-56b2f52d543d.mp4

[2022-08-08 18:44] skejeton commented on #72
The issue was fixed but not marked as such

[2022-08-08 18:44] #72 closed

[2022-08-12 19:53] skejeton commented on #69
Done

[2022-08-12 19:53] #69 closed

[2022-08-14 09:09] skejeton commented on #53
The CPU usage reduced drastically for me as we moved on to the newer atlas based text renderer, I think this issue can be considered closed.

[2022-08-14 14:07] #53 closed

[2022-08-18 07:21] marekmaskarinec commented on #71
`input.isReleased` is just `!input.isJustPressed`. I can implement `input.isJustReleased`.

[2022-08-18 07:23] marekmaskarinec commented on #70
I would also have to put all the global variables into `th_global`.

[2022-08-25 08:43] skejeton opened #81 "Update examples readme."
Some projects currently missing descriptions.

[2022-08-25 12:49] #81 closed

[2022-08-25 19:28] vtereshkov opened #82 "Windows build fails"
[code]

[2022-08-26 13:38] #82 closed

[2022-08-26 16:52] skejeton opened #83 "Layered drawing."
Rendering currently only displays the things in order they are drawn, but this is sometimes inconvenient. For example:

[code]

The windows will be drawn in order of A B and C, but if we drag the window A on top, it will still be rendered behind window B and C because it appears before them in code.

This currently can be worked around with a draw command system, where the drawing code is deferred

[2022-08-26 17:04] marekmaskarinec commented on #83
I never planned for something like this to be included in tophat. For me the callback idea is much better than adding more features to the engine, although Umka's lack of closures might make it harder to work with.

[2022-08-26 17:11] skejeton commented on #83
Definitely. I'll go with the callbacks for now, but i can see the appeal for maybe having access to the depth buffer

[2022-08-27 15:11] vtereshkov opened #84 "Memory leaks in `umsoundplay()` if called too frequently"
How to reproduce:
* Run the tetris example
* Hit a rotation (Z, X, C) or drop (space) key several times very quickly
* Close the program window
* See memory leak warnings

[2022-08-27 15:16] skejeton commented on #84
Looks like the problem is unnecessary increment:https://github.com/marekmaskarinec/tophat/blob/main/src/bindings.c#L352

[2022-08-27 15:21] skejeton commented on #84
I can see why it was put there, it creates issue of memory leaks but it solves the problem of the object getting freed after being discarded. The way to solve this is probably to allocate the handle instead

[2022-08-27 15:33] vtereshkov commented on #84
@skejeton Notice that this leak never happens if the function is called not too often (so that the sound plays to the end and stops normally?)

[2022-08-27 15:39] skejeton commented on #84
Yeah it seems to only happen when the sound didn't finish playing entirely

[2022-08-27 20:27] marekmaskarinec commented on #84
This is weird, since adding more playbacks shouldn't affect other playbacks.

https://github.com/marekmaskarinec/tophat/blob/main/src/bindings.c#L352

This is since the `thg.playbacks` own a reference. It is decremented when the sound stop playing.

[2022-08-27 20:39] vtereshkov commented on #84
But what if all those playbacks refer to the same `audio.Sound`?

[2022-08-27 20:59] marekmaskarinec commented on #84
Playbacks don't refer to `audio.Sound`s at all.

[2022-08-29 07:03] skejeton opened #85 "`image.drawOnQuad` needs to accept uv's"
Currently as uv coordinates you can pick 4 rectangular corners of the image (with crop), but some uv coordinates aren't rectangular and instead an arbitrary quad.

[2022-08-29 15:30] #85 closed

[2022-08-31 11:56] vtereshkov commented on #84
@marekmaskarinec `prev = pbi;` is missing from the `for` loop in `_th_audio_data_callback()`, so it cannot process lists longer than one sound.

[2022-08-31 12:25] vtereshkov opened #88 "Tetris example: various defects"
@skejeton

**Unclear goals**. To be honest, I don't understand how to play this kind of tetris with three different rotation keys, stashing, etc. I did not manage to earn any score. Ultimately I rewrote it into a conventional tetris for my personal needs.

**Unreliable controls.** The current logic does not guarantee a visible response to every key hit. A better, though still not perfect, approach

[2022-08-31 12:44] skejeton commented on #88
To be fair this Tetris clone is intended to emulate modern Tetris, they have stashes, 3 ways to rotate (90, -90, 180), and a "kick table" for t-spins and such. So the goal is really games like Tetris99 or TetrIO, I added the most basic features.

I agree with the controls. Honestly I couldn't figure out what's wrong with controls, they felt weird, but I think you pointed out correctly that it's ki

[2022-08-31 12:50] vtereshkov commented on #88
@skejeton I guess I have never played "modern" tetris and don't even know what a T-spin is :)

[2022-08-31 13:00] skejeton commented on #88
It's something like this, I performed it quite poorly but you get the idea :P
![Peek 2022-08-31 15-58](https://user-images.githubusercontent.com/27076041/187683361-752fbf4b-cbb3-470b-a39e-626e767723e0.gif)

I think it'll be worth adding a classic mode that plays like the NES Tetris though.

[2022-09-02 18:23] marekmaskarinec commented on #88
Can this be closed?

[2022-09-02 18:30] marekmaskarinec commented on #84
This might have been the problem. I fixed it and now I can't reproduce neither the memory leak warnings or the sound cutting of too early issue.

[2022-09-02 20:06] vtereshkov commented on #84
Great!

[2022-09-02 20:06] #84 closed

[2022-09-02 20:07] vtereshkov commented on #88
@skejeton ?

[2022-09-03 06:52] skejeton commented on #88
Yeah sure, however I still do think that I need to improve the Tetris example.. I'll definitely give it some more time maybe during weekend to polish it up, I don't really like presenting half baked products :smiling_face_with_tear:

[2022-09-03 06:54] skejeton commented on #83
As for the callback idea. The problem struck with nested callbacks. In the end I decided against that idea since everything was completely out of order.

[2022-09-03 06:54] skejeton commented on #83
Currently I'm going with a draw command buffer idea, and it's working somewhat. I pass in an interface to add custom drawing functions

[2022-09-03 19:00] #88 closed

[2022-09-03 20:32] marekmaskarinec opened #92 "Documentation"
* cookbook
	* fix typos
	* update to the current API
	* split into multiple pages
	* more "recipes"
		* extensions
		* particles
		* shaders
		* tilemaps
		* ui - after it is in "final" state
		* how to structure a game - might get too opinionated
* API reference
	* document missing functions
	* fix typos
	* add constant and variable support to doc.um
* C side docs
* video tutorials
	* how to setu

[2022-09-03 20:33] #70 closed

[2022-09-03 20:35] marekmaskarinec opened #93 "VSync control"
Would fix #67.

[2022-09-03 20:53] marekmaskarinec commented on #93
frame limiter is done

[2022-09-04 06:47] skejeton commented on #71
That's what i meant yes. isJustReleased seems to be a more consistent name so go with that.

[2022-09-04 08:51] #71 closed

[2022-09-04 09:15] skejeton commented on #64
Doesn't happen anymore.

[2022-09-04 09:15] #64 closed

[2022-09-09 12:11] skejeton opened #95 "Calling window.setup twice causes crash on exit"
It creates 2 windows, and crashes the program after you close it. It should ideally just change the current window's title and size.

[2022-09-11 07:59] skejeton opened #96 "Setting loop points in audio"
In a lot of games background music loops around at some specific timestamp and not at the beginning, I think audio needs ability to set 2 points: end point, loop point. When playback reaches the end point the music will be replayed at the loop point.

[2022-09-11 11:03] marekmaskarinec commented on #96
Couldn't this behavior be done by the user?

[2022-09-11 11:04] marekmaskarinec commented on #95
I don't think calling the setup function again should change the properties of the window. What if you want to change only the title?

I will fix the bug and make separate functions for window properties.

[2022-09-11 11:05] marekmaskarinec opened #97 "`window.setDims`, `window.setTitle`, `window.setIcon`"
#95

[2022-09-11 11:07] marekmaskarinec commented on #95
It might be worth it adding the ability to manage multiple windows, but that would require some overhauls.

[2022-09-11 13:50] skejeton commented on #96
Probably. But binding it to per-frame may produce unwanted sound artifacts at the endpoints. I'll try doing it

[2022-09-11 13:52] skejeton commented on #95
You can just put in current values

[2022-09-11 20:14] vtereshkov opened #98 "Avoid mutable strings"
Mutable strings are no longer allowed in Umka. Please fix tophat accordingly.

For example, change
[code]
to
[code]
and just call `loadimg(&img, path)`.

Also, you can rewrite `toupper()` and `tolower()` as
[code]
No other occurences found so far.

CC @skejeton

[2022-09-12 05:44] skejeton opened #99 "canvas.pushTransform/popTransform"
pushTransform will apply transform you push to all elements rendered on screen, popTransform will reset that. The tricky part is stacking transforms, I think matrix multiplications can be involved then internally.

[2022-09-12 05:45] skejeton commented on #98
Hi. I don't use mutable strings.

[2022-09-12 05:47] skejeton commented on #83
Closing thus far as it's pretty vague. But would love to have layered drawing of some kind. In my opinion this would be especially important once we can maybe get cached renderer to work.

[2022-09-12 05:47] skejeton commented on #83
.

[2022-09-12 05:47] #83 closed

[2022-09-12 05:49] skejeton commented on #95
#97

[2022-09-12 05:49] #95 closed

[2022-09-12 06:09] skejeton commented on #99
should we then also apply transforms to mouse position too?

[2022-09-12 15:07] marekmaskarinec commented on #97
That's true, but I think having separate functions will be easier for the user.

[2022-09-12 15:10] marekmaskarinec commented on #99
Can't transform stacking be done by just applying all the transforms after each other?

[2022-09-12 17:50] skejeton commented on #99
Not sure what you mean by this.

[2022-09-12 20:35] skejeton opened #100 "Image rotation transforms also add the image cropping into the equation"

[2022-09-13 07:21] marekmaskarinec commented on #99
That's why we need properly define how the stacking will work.

[2022-09-13 09:33] skejeton commented on #99
It should work exactly like matrix multiplication. E.g. previous transform matrix multiplied by a new one and that matrix is pushed onto the stack and used as the current one.

[2022-09-13 23:21] vtereshkov commented on #98
@skejeton Actually you do it in `makeUppercase()`.

[2022-09-14 20:08] marekmaskarinec commented on #100
Can you please explain this better?

[2022-09-14 20:10] #98 closed

[2022-09-14 20:10] marekmaskarinec commented on #67
@vtereshkov does this still happen to you with the frame limiter?

[2022-09-14 20:23] vtereshkov commented on #67
I didn't see zero `th.delta` anymore. However, the player may still get stuck in the blocks (though quite rarely).

[2022-09-18 08:14] skejeton opened #101 "getStr is not consistent across platforms"
https://github.com/skejeton/save-game/issues/2

[2022-09-18 08:17] skejeton commented on #100
The rotation origin is dependent on image's cropping. So for example if the image is cropped at x=100,y=100,w=100,h=100. Then the origin will be offset by -100,-100, although it should be just 0,0. I think this is what's happening. Basically try rotating a cropped and uncropped image with and see the difference

[2022-09-18 08:22] skejeton commented on #101
For context, getStr pushes backspace character onto the stream on linux. but that doesn't happen on windows. IMO it should push the backspace character, or neither platforms should. For preserving ordering I prefer pushing the backspace, but it's up to you.

[2022-09-18 08:26] skejeton opened #102 "key_backspace is not emitted on windows"
https://github.com/skejeton/save-game/issues/2

[2022-09-18 08:38] skejeton opened #103 "Support for more keys."
Keys desired:

[code]

optional keys:
[code]
you can then do `if input.isJustPressed(input.key_function+1)` to check if F2 was pressed, or
`if input.isJustPressed(input.key_function+11)` to check if F12 was pressed. This is the preferred API, however `input.key_f1` would be just fine too.

[2022-09-18 08:38] skejeton commented on #103
https://github.com/skejeton/save-game/issues/2

[2022-09-18 13:37] marekmaskarinec commented on #101
backspace character is pushed on my windows machine too.

[2022-09-18 13:38] skejeton commented on #101
Sorry, I misunderstood my issue so it was an issue with key_backspace instead. Nvm

[2022-09-18 13:51] marekmaskarinec commented on #101
Does this mean we can close this one?

[2022-09-18 14:05] #102 closed

[2022-09-18 22:59] vtereshkov opened #104 "Frame limiter doesn't work correctly on windows"
When I take the README code example and add time logging:
[code]
I get a 2x difference:
[code]
I suppose it may be a problem with `Sleep()` and timer resolution. It perhaps makes sense to get rid of `th.delta = 1000/fpsLimit` and recalulate `th.delta` using `std.clock()` rather than `fpsLimit`.

See also https://github.com/skejeton/save-game/issues/3#issuecomment-1250394856

CC @skejeton

[2022-09-20 07:24] marekmaskarinec commented on #104
I will calculate the delta correctly, but this still doesn't fix the issue.

[2022-09-20 07:31] marekmaskarinec commented on #104
This is definitely a problem with sleep.

[2022-09-20 10:50] vtereshkov commented on #104
Yes, the limiter itself is still inaccurate, but at least it doesn't affect kinematics anymore. Thanks.

[2022-10-07 16:40] #100 closed

[2022-10-07 17:58] vtereshkov opened #105 "Windows build fails"
[code]
[code]

[2022-10-07 18:12] skejeton commented on #105
@marekmaskarinec maybe we should set up a CI

[2022-10-09 17:28] #67 closed

[2022-10-09 18:23] skejeton commented on #97
No problem then

[2022-10-15 10:23] marekmaskarinec commented on #96
Would any of these functions be what you are looking for?
[code]

[2022-10-15 10:23] marekmaskarinec opened #106 "add spatialized audio"
miniaudio supports it, so why not use it.

[2022-10-15 12:31] skejeton commented on #96
perhaps, I think millisecond precision is enough. if you could add that into th api, that would be awesome

[2022-10-16 16:25] marekmaskarinec commented on #96
please test the functions and close this issue if they work well for your usecase.

[2022-10-16 16:26] marekmaskarinec commented on #105
@vtereshkov can you try it now?

[2022-10-16 17:27] vtereshkov commented on #105
@marekmaskarinec The problem with `chewtypes.h` has gone away, but the problem with `umka_runtime_src.h` persists. I still have to manually do `cp lib/umka/import/embed/umka_runtime_src.h lib/umka/src/` before running `make cross`.

[2022-10-16 19:59] marekmaskarinec commented on #105
Why doesn't it work? `umka_runtime_src.h` is already in the src/ directory.
https://github.com/vtereshkov/umka-lang/blob/master/src/umka_runtime_src.h

[2022-10-16 20:04] vtereshkov commented on #105
@marekmaskarinec Maybe due to this?

https://github.com/marekmaskarinec/tophat/blob/7def79cdbb90596ca46f48537473c70126400ed7/Makeumka#L13

Anyway, the "reference" version of `umka_runtime_src.h` is always in `import/embed/`.

[2022-10-17 07:19] marekmaskarinec commented on #105
Fixed.

[2022-10-17 13:08] skejeton commented on #96
I'll do!

On Sun, Oct 16, 2022, 10:25 PM Marek Maskarinec ***@***.***>
wrote:

[2022-10-22 17:59] skejeton opened #107 "1.0 Milestone: Security audit"
The engine needs a lot of security auditing. It currently doesn't support networking, so it's not a big threat. But it's important to crack down on all the security holes at once, before we scale the code further.

Example of a security threat: https://github.com/marekmaskarinec/tophat/blob/520907a859a875c6bb07ff34547c2124bcb6e25c/src/bindings.c#L26

I would take a look at the entire repository ri

[2022-10-22 18:00] skejeton commented on #107
the entire codebase isn't that big, so I think it would be healthy to take both of us a glance and create issue for each potential threat

[2022-10-22 18:14] skejeton commented on #106
as a temporary workaround allow to specify panning of the audio, I don't know what's the usual format but -1..1 interval where -1 is only left ear and 1 is only right ear seems about correct

[2022-10-22 18:16] skejeton commented on #105
Should this be closed? I'll test the windows build myself too after I
arrive home

On Mon, Oct 17, 2022, 1:19 PM Marek Maskarinec ***@***.***>
wrote:

[2022-10-22 18:36] vtereshkov commented on #105
Still fails for me.

[2022-10-22 18:43] skejeton commented on #105
blimey. which one do you use msys2 or wsl?
P.S. I may switch to windows soon because I need to use software that
doesn't work with Linux properly because of a driver handicap. So I'll be
maintaining tophat for windows

On Sun, Oct 23, 2022, 12:36 AM Vasiliy Tereshkov ***@***.***>
wrote:

[2022-10-22 19:17] vtereshkov commented on #105
@skejeton WSL.
[code]

[2022-10-22 19:57] skejeton commented on #105
oh dear. this is kinda bad. I'll get home tomorrow and try to compile tophat as well as push some fixes

[2022-10-22 20:41] marekmaskarinec commented on #106
You can already pan the audio.

[2022-10-23 03:03] skejeton commented on #106
nvm then

[2022-10-23 09:03] marekmaskarinec commented on #107
I totally agree.

[2022-10-24 16:49] skejeton opened #109 "Fix subpixel shifts"
At the top you can see smushed text. That's because it's drawn at some subpixel position, either because of precision error or whatever else. I fixed it for fonts, but did a regression because it caused "wobbly font" issue, that's because I didn't account for screen scale. As a post-processing step, in vertex shader, at least for images, we need to floor the positions to fix this problem.

![image

[2022-10-27 16:01] marekmaskarinec commented on #109
I would be happy to fix this, but it would be great to have a smaller test case. Could you make one.

[2022-10-30 14:53] marekmaskarinec commented on #109
@skejeton do you mean something along the lines of
[code]

[2022-11-02 14:31] skejeton commented on #109
@marekmaskarinec I think this may work yes!

[2022-11-02 15:54] #109 closed

[2022-11-03 09:36] skejeton commented on #105
@vtereshkov does the build script on msbuild branch work? try running msbuild.bat, should result in tophat.exe in main directory! thank you.

[2022-11-03 09:43] skejeton commented on #104
ideally this can be solved if the rendering is strictly vsync, but that would mean the game input loop runs at vsync too, not so nice.
the only way I can think of right now, and that's probably the way it works most of the time, is to have a performance counter between the frame, and at the end of the frame, do a *precise* sleep for the time elapsed within that performance counter minus target fra

[2022-11-04 15:43] skejeton opened #110 "warnings in built in modules"
[code]

[2022-11-04 21:20] vtereshkov opened #111 "`#include <math.h>` is missing"
[code]

[2022-11-04 21:27] #111 closed

[2022-11-04 21:27] #110 closed

[2022-11-06 17:34] skejeton opened #112 "Everything is completely broken on windows:"
(Happened after merge into msbuild branch)
![image](https://user-images.githubusercontent.com/27076041/200185890-8ec40422-e484-4fb2-ac5e-aec4f7287bb7.png)

[2022-11-06 17:36] skejeton commented on #112
in particular it appears images are affected, but probably something's messed up with the render commands?

[2022-11-06 17:47] skejeton commented on #112
really wack, the only commit that could've done something like that is the image smearing fix, but idk

[2022-11-06 17:49] skejeton commented on #112
(p.s. i'll try figuring out myself tomorrow but if you have any ideas please lmk :P!

[2022-11-06 17:52] marekmaskarinec commented on #112
I think so too.

Is it broken in the main branch too? You can download it here: https://mrms.cz/dl/up/tophat.exe.

Btw how do I build `msbuild` tophat on windows? Best without needing to install visual studio.

[2022-11-06 17:58] skejeton commented on #112
@marekmaskarinec sadly the script requires to install visual studio build tools

[2022-11-06 17:59] skejeton commented on #112
whoops closed it accidentally. but you can also do it without visual studio build tools, you'll need to tweak the cmake script though

[2022-11-06 18:01] skejeton commented on #112
when i use this executable it says invalid block size on the game, maybe the umka version is old?

[2022-11-06 18:02] skejeton commented on #112
![image](https://user-images.githubusercontent.com/27076041/200187270-bc410ed6-8737-49ea-91c6-4e4bb53069d6.png)
running new dialogs

[2022-11-06 18:55] vtereshkov commented on #112
I reported this problem just after the tophat 0.8 release:

https://discord.com/channels/846663478873030666/846663478873030672/1033845167565844551

[2022-11-06 18:59] marekmaskarinec commented on #112
Maybe this is some kind of cross compilation bug.

[2022-11-06 19:43] vtereshkov commented on #112
@skejeton I can compile a fresh Windows build from the `main` branch, but am not sure it will help you much.

[2022-11-06 21:00] marekmaskarinec commented on #112
The umka version (atleast on the main version) seems to be really old. I will try updating it.

[2022-11-06 21:20] vtereshkov commented on #112
@marekmaskarinec For me it works fine. However, I'm a little bit confused. In principle, we have four ways to build tophat:
* Linux
* Windows (cross compiling from Linux)
* Windows (MinGW)
* Windows (Visual Studio)

What option to use to reproduce the original issue? I successfully tested Save Game with option 2 (both `main` and `msbuild` branches), except that I had to add `glad.c` to `src/Makefi

[2022-11-07 02:12] skejeton commented on #112
Windows Visual studio

[2022-11-07 02:30] skejeton commented on #112
I can confirm everything was fixed after submodule update 🎉 ✨
![image](https://user-images.githubusercontent.com/27076041/200214275-36c2d0bc-9062-4604-b17c-8d5c3788f372.png)

[2022-11-07 02:31] #112 closed

[2022-11-08 05:45] skejeton opened #113 "CI/Linux Build fix for msbuild branch"
Right now, the CI fails for Linux on msbuild branch because I replaced chew.h with GLAD. Needs to be fixed.

CC @marekmaskarinec

[2022-11-08 06:21] skejeton commented on #104
@vtereshkov let me know what you think, it works okay for 60fps

[2022-11-08 09:02] vtereshkov commented on #104
@skejeton Cross compiling fails:
[code]

[2022-11-08 13:03] skejeton commented on #104
@vtereshkov it's for timeGetTime function.. it may work if you comment it out, otherwise you may need some winmm headers or something like that

[2022-11-08 13:06] skejeton commented on #104
to be fair i should use queryperformancecounter

[2022-11-08 17:44] vtereshkov commented on #104
@skejeton After commenting out the `#include`, I got a working Windows executable. However, the new frame limiter is broken, since I have 350...400 FPS with it. If I rewind one commit back, I again have 35...50 FPS.

[2022-11-08 18:21] marekmaskarinec commented on #113
I fixed the glad errors, but the CI is still failing because of `timeapi.h`. It works fine on my machine.

[2022-11-10 05:50] skejeton commented on #113
I'll fix it by using different api

[2022-11-10 17:16] skejeton opened #114 "Scaling modes"
Currently how window screen is scaled is it fits the game screen into the window while preserving aspect ratio. This works for most games and if you don't want black bars you can always set the screen size to window size and handle that manually, however for out of box experience it may also be nice to have integer-only scaling mode:
Here's an example of how this looks:
![image](https://user-image

[2022-11-10 17:25] marekmaskarinec commented on #114
I agree with these changes. This is how I propose they would be implemented:

* remove the need to pass the camera to `window.cycle`
* add `window.setViewport`. This function would take a vf2 with dimension of the game viewport. If is desirable for this function to be callable multiple times during the cycle, which would allow simple scaling for the user (you could render the hud with some viewpor

[2022-11-10 17:37] skejeton commented on #114
I completely agree with removing camera, it worked but it appears that transforms are better now, plus, that could be a good performance boost since matrix multiplication is pretty cheap and really easy to SIMD

as for setScalingFlags, i still think this is a pretty good "wrapper feature" that will just use the transforms under the hood.

setViewport idea is something i actually wanted for a long

[2022-11-10 17:39] skejeton commented on #114
but also there's an upside to having a viewport, although that can be patched by the user if they start using the image targets. right now the things are scaled in "vector mode" but sometimes scaling needs to be applied after rasterization, like in pixel art games

[2022-11-11 09:45] marekmaskarinec commented on #114
I will start by removing camera and adding `setViewport`.

[2022-11-11 09:48] marekmaskarinec commented on #114
Removing camera will be pain. Lot of my projects frequently use `global.cam.w` and `global.cam.h`

[2022-11-11 16:54] skejeton commented on #114
same thing, but you can make it use setViewport on high level right?

[2022-11-11 20:46] marekmaskarinec commented on #114
What exactly do you mean?

[2022-11-11 20:52] marekmaskarinec commented on #114
I implement `window.setViewport`

[2022-11-12 10:12] skejeton commented on #114
Make global camera use setviewport under the hood, although now i've realized that would require a setter. You can also do setviewport to match the global camera somewhere during the pipeline when you are actually changing the rect, but yeah, that's one of the places globals can get in the way.

[2022-11-12 10:13] skejeton commented on #114
I'll take a look!

[2022-11-12 10:53] skejeton opened #115 "Inconsistency between windows and Linux w.r.t. mouse movements"
On Linux, at least i3wm, when you press on the window and move it around inside, you can move it outside and it would count in Tophat. Tophat on Windows stops immediately after you leave the window area. What is the preferred option?

[2022-11-12 11:06] skejeton opened #116 "Ability to go fullscreen"
These shortcuts are the most common shortcuts in games, and I really like "just playing" in fullscreen mode. Previously on Linux, i3wm I could enable fullscreen mode by using the WM hotkey, but it's not consistent across platforms. On Windows for instance, it's not possible to make it fullscreen. It may also be not possible on some Linux WM's.

Some considerations:

* The checks for Alt+Enter and

[2022-11-12 11:19] skejeton commented on #96
@marekmaskarinec `setStartTimeMs` seems to set the time that it will wait for the song to start, not the point at which it starts

[2022-11-12 11:50] marekmaskarinec commented on #116
I think we should just add something like `window.setFullscreen(bool)` and let user implement those key binds themselves.

[2022-11-12 11:51] marekmaskarinec commented on #115
What do you mean by this?

[2022-11-12 14:12] skejeton commented on #116
I agree we should add `setFullscreen` regardless. I'll do my part on Windows right now

[2022-11-12 14:58] marekmaskarinec commented on #114
You can do `setViewport(th.Vf2{global.cam.w, global.cam.h})` at the end of
every cycle.

"---------- Původní zpráva ----------
Od: ske ***@***.***>
Datum: 12.11.2022 11:13:15
Předmět: Re: [marekmaskarinec/tophat] Scaling modes (Issue #114)

"

What exactly do you mean?

"

Make global camera use setviewport under the hood, although now i've
realized that would require a setter. You can also do set

[2022-11-13 10:08] skejeton opened #117 "Consistent names between bindings"
Currently there's several ways the binding functions are named:

1) Starting with c: `cgetmouse`, `cispressed`...
2) Starting with module name: `imggetdims`, `imgcrop`...
3) Ending with module name: `loadimg`, `flipvimg`...
4) No convention at all: `drawText` `drawLine`...
5) Full armour namespacing: `umth_hsv2rgb_uint32`, `umth_rgb_uint32`, `umth_sound_copy`, `umth_window_end_scissor`...

There s

[2022-11-13 12:30] marekmaskarinec commented on #117
5 is also my favorite. All bindings should be rewritten, but it will be a lot of work.

[2022-11-13 16:50] marekmaskarinec commented on #116
I've managed to make a fullscreen implementation for X. The only problem is that the KDE bar still appears above the window. I guess it will be similar with other DEs (KDE is the only one I have installed). Works completely fine with dwm though. I will investigate more.

[2022-11-18 13:02] #117 closed

[2022-11-18 21:45] marekmaskarinec commented on #97
@skejeton could you please implement these functions on windows?